#games {
	display: block;
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 3in;
	right: 900px;
	left: 0;
	height: 200px;
	width: 200px;
	margin-left: 0in;	
}

#score {
	display: block;
	position: absolute;
	border: 3px solid black;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 680px;
	width: 350px;
	height: 500px;
	font-family: Courier;
	margin-left: .4in;
}

#grid{
	display: block;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	width: 500px;
	height: 500px;	
	border: 3px solid #2b2b2b;
	right: 200px;
	left: 0;
	margin-left: 2.15in;
	width: 500px;
}

span#inst {
	margin-left: .15in;
	margin-right: .25in;
	float: left;
}

span#name {
	font-weight: bold;
	text-decoration: underline;
}

span#req {
	position: absolute;
	bottom: 5px;
	font-weight: bold;
}

span#descr {
	position: relative;
	top: 85px;
}

span#best {
	position: relative;
	bottom: 85px;
}

button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Courier New;
	color: #fafafa;
	font-size: 15px;
	background: #485157;
	padding: 3px 8px 3px 8px;
	border: solid #1f628d 0px;
	text-decoration: none;
	margin-left: 50px;
	margin-bottom: 10px;
	float: right;
}

button:hover {
  background: #607480;
  text-decoration: none;
  cursor: pointer;
  pointer-events: auto;
}

button:disabled {
	color: black;
	background-color: black;
}

button:disabled:hover {
	cursor: not-allowed;
}

.needed {
	visibility: hidden;
	width: 485px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	font-weight: bold;
	font-size: small;
	padding: 1px;

	position: absolute;
	left: 107%;
}

.needed::after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 100%; /* To the left of the tooltip */
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}

button:disabled:hover .needed{
	visibility: visible;
}

