body { 
background-color: lightgray;
margin-right: 40%;
font-family: cambria;
font-size: 14px;
margin-left: 4%;
}

p {
margin: 0;
}

.pointer {
font-family: wingdings;
margin-left: 4.3cm;
font-size: 18px;
}
