
strong {
	color: black;
}

h3 {
	font-size: 26px
}

p {
	line-height: 7mm;
	font-weight: lighter;
}

body {
	font-family: rockwell;
	background-color: #F6F6F6;
}

ul {
	list-style-type: none;
	margin-top: .4in;
	margin-bottom: -1px;
	padding: 5px;
}

li {
	margin-left: 15px;
	display: inline;
}

#top {
	color: #F6F6F6;
	background-color: #2B2B2B; 
	margin-top: -20px;
	text-align: center;
	margin-right: -20px;
	margin-left: -20px;
	border: solid #DE1B1B 7px;
}

#bottom {
	background-color: #F6F6F6;
	margin-top: -20px;
	position: relative;
}
/* Links */
/*a:link
{ 
	color: #666;
	outline: none; 
	text-decoration: none;
}

a:visited
{ 
	color: #666;
	outline: none;
	text-decoration: none; 
}

a:hover
{
	color: #333; 
	outline: none;
	text-decoration: none;
}

a:active
{
	color: #666; 
	outline: none;
	text-decoration: none;
}*/

.contact {
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
}

.about {
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
}

.resume {
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
}

.section {
	font-weight: 600;
	margin-top: -20px;
	margin-bottom: -20px;	
	padding: 0;
}

.intro {
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
}

.work {
	margin-top: 3%;
	margin-right: 20%;
	margin-left: 20%;
}

.blog {
	margin-top: 3%;
	margin-right: 20%;
	margin-left: 20%;
}

#name {
	color: white;
	font-family: rockwell;
	font-size: 35px;
	text-decoration: none;
	outline: none;
	margin-top: 75px;
	padding: 10px;
	text-align: center;
	margin-bottom: 0;
}

#hresume {
	margin-bottom: -20px;
}

li a {
	color: white;
	outline: none;
	text-decoration: none;
}

.sec {
	color: black;
	outline: none;
	text-decoration: none;
	background-color: #DE1B1B;
	padding: 5px;
	margin-bottom: 5px;
}

li a:not(.sec):hover{
	color: black;
	outline: none;
	text-decoration: none;
	background-color: #DE1B1B;
	padding: 5px;
	margin-bottom: 5px;
}

.web a {
	text-decoration: none;
	outline: none;
	margin-left: 23px;
	margin-right: 30px;
}

.web img {
	position: absolute;
}

.web {
	margin-left: .25in;
}
/*
UI COMMENTS
-contact me make one word
-match font color with oposite background
-fix resume you butthead
-add performance works
-more projects
*/



