body {
	font-family: rockwell;
	background-color: #FFFF99;
}

#top {
	background-color: #FFFFEB;
	margin-top: -20px;
	text-align: center;
	margin-right: -20px;
	margin-left: -20px;
	border: solid 1px;
}

#bottom {
	background-color: #FFFF99;
	margin-top: -20px;
	position: relative;
}

ul {
	list-style-type: none;
	margin-top: .4in;
	margin-bottom: -5px;
	padding: 5px;
}

li {
	margin-left: 10px;
	display: inline;
}

/* Links */
a:link 
{ 
	color: #666; 
	outline: none; 
	text-decoration: none;
}

a:visited 
{ 
	color: #666; 
	outline: none;
	text-decoration: none; 
}

a:hover
{
	color: #333; 
	outline: none;
	text-decoration: none;
}

a:active 
{
	color: #666; 
	outline: none;
	text-decoration: none;
}

.contact {
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
}

.about {
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
}

.resume {
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
}

.section {
	font-weight: 600;
	margin-top: -20px;
	margin-bottom: -20px;	
	padding: 0;
}

.intro {
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
}

.work {
	margin-top: 3%;
	margin-right: 20%;
	margin-left: 20%;
}

.blog {
	margin-top: 3%;
	margin-right: 20%;
	margin-left: 20%;
}

strong {
	color: black;
}

h3 {
	font-size: 26px
}

p {
	line-height: 7mm;
	font-weight: lighter;
}

span {
	font-weight: 600;
}

#name {
	color: blue;
	margin-top: 75px;
	padding: 10px;
	text-align: center;
	margin-bottom: 0;
}

#hresume {
	margin-bottom: -20px;
}


