body {
background-color: lightgray;
margin-right: 40%;
margin-left: 1%;
}

div {
font-family: helvetica;
}

h3 {
font-size: 24px;
margin: 0;
}

h4 {
margin: 0;
}

.section{
font-size: 20px;
font-family: helvetica;
margin: 0;
}

span {
font-family: dingbat;
font-size: 20px;
}

p {
margin: 0;
font-family: cambria;
font-size: 14px;
}

.info {
margin-left: .75cm;
}

.return {
margin-left: .75cm;
}

.pointer {
margin-left: 5.25cm;
font-family: wingdings;
font-size: 18px;
}

