body {
  background-color: gray;
}

#index_nav {
  text-align: right;
  border-left: 1px solid white;
  width: 170px;
}

ul {
  list-style: none;
}

a:link {  
  outline: none; 
  text-decoration: none;
}

a:visited { 
  outline: none;
  text-decoration: none; 
}

a:hover {
  color: yellow; 
  outline: none;
  text-decoration: none;
}

a:active {
  outline: none;
  text-decoration: none;
}

#photo {
  width: 180px;
  height: 180px;
  border-radius: 15px;
}

#tagline {
    margin: 210px 0 0 10px; 
    padding-right: 30px;
    float: left;
    width: 360px; height: 10px;
    display: inline;
    text-align: right;
}
