html, body {
    height: 100%;
    width: 100%;
    font-size: 50px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(77, 73, 73);
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(235, 221, 221);
}

#keyboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 1200px;
    transform: perspective(500px) rotateX(20deg);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 1;
    height: 100px;
    border-radius: 2vh;
}

.letter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    height: 100%;
    border-radius: 2vh;
    font-size: 1rem;
}

.spacebar, .letter {
    background: #2b2b2b;    
    border-radius: 2vh;
    border: 1px solid yellow;
}

.spacebar {
    width: 400px;
    height: 60px;
    margin: auto;
}

.keypress {
    animation: keypress .2s forwards;
}

.backspace {
    animation: backspace .2s forwards;
}

@keyframes keypress {
    100% {
        background: blue;
        height: 80%;
        font-size: .8rem;
    }
}

@keyframes backspace {
    from {
        background: blue;
        height: 80%;
        font-size: .8rem;
    }

    to {
        background: #2b2b2b;
        height: 100%;
        font-size: 1rem;
    }
}

#word {
    height: 150px;
    /* width: 300px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#score {
    display: flex;
    gap: 10px;
}

button {
    background: #2b2b2b;
    color: #fafafa;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .5rem;
    border: 1px solid silver;
    border-radius: 1vh;
    padding: 5px;
}

button:hover {
    background: #4b4b4b;
    cursor: pointer;
}